body{
    display: grid;
    grid-template-areas: 
    "header header"
    "footer footer";
    grid-template-columns: 100% 1fr 20%;
    grid-template-rows: 80px 100px 1fr ;
    grid-gap:10px;
    height: 100vh;
    
    margin: 0;
    
}
header,footer{
    padding:5px;
    
}
#pageheader{
    grid-area:header;
    background-color: blue;
    background-image: url();

}
#pagefooter{
    grid-area:footer;
    background-color: rgb(255, 0, 123);
}
